# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pylint
pylint-report.txt

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# dotenv
.env

# Database
*.sqlite3

# Others
*.bak
*.swp
