{# templates/layout.html #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ "Cine-Base" }}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="{{ url_for('movie') }}" class="nav-home">Cine-Base</a>
      <!-- <span class="site-name">{{ "Cine-Base" }}</span> -->
    </div>
    <div class="navbar-right">
      <form action="{{ url_for('search') }}" method="get" class="nav-search-form">
        <input type="hidden" name="m" value="t">
        <input
          type="text"
          name="q"
          placeholder="Search movies…"
          value="{{ request.args.get('q','') }}"
          
        >
        <button type="submit">🔍</button>
      </form>
    </div>
  </nav>

  {% block content %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
